################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.cache
/qmessentials-services-dotnet/.vs/qmessentials-services-dotnet/DesignTimeBuild
/qmessentials-services-dotnet/.vs/qmessentials-services-dotnet/v16
/qmessentials-services-dotnet/qmessentials-services-dotnet/obj
*.user
/qmessentials-services-dotnet/qmessentials-services-dotnet.tests/obj/Debug/net5.0
/qmessentials-services-dotnet/qmessentials-services-dotnet.tests/obj/Release/net5.0
